#title #menu #footer {
    background-color: #ffffff;
    color: #323233;
}
#menu {
    height: 500px;
}
#menu a {
    background-color: #323233;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 3px;
}
#menu li {
    list-style: none;
    margin: 2px;
}
#menu a:hover {
    background-color: #000000;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #000000;

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.scottishpower {
    width: auto;
    height: 150px;
}

.upload-container{
    padding: 2rem 7rem;
}

.page-header {
    background-color:black;
    color:white;
    border-bottom:black;
}

.top-pad {
    padding-top: 3rem;
}

.pieChart {
    border: dashed yellow;
    margin-top: 10vh;
    margin-left: 5vw;
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: black;
    overflow: hidden;
}

body,
.pieChart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieSegment {
    background: var(--bg);
    --degrees: calc((var(--offset, 0) / 100) * 360);
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translate(0, -50%) rotate(calc(var(--degrees) * 1deg));
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
    transform-origin: 50% 100%;

    --a: calc(var(--over50, 0) * -100%);
    --b: calc((1 + var(--over50, 0))  * 100%);
    clip-path: polygon(var(--a) var(--a),var(--b) var(--a),var(--b) var(--b),var(--a) var(--b));
}

.pieSegment:after,
.pieSegment:before {
    background: var(--bg, black);
    overflow: hidden;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.pieSegment:before {
    --degrees: calc((var(--value, 45) / 100) * 360);
    transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 0;
}

.pieSegment:after {
    opacity: var(--over50, 0);
}





.pie {
    width: 30vw; height: 30vw;
    border-radius: 50%;

    background: conic-gradient(
            red attr(--offsetHigh %),
            orange attr(--offsetMed %),
            yellow attr(--offsetLow %),
            yellowgreen 0);
}
